/* Font styles. */
/* line 2, ../sass/style.sass */
body {
	margin: 0;
	/* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
	font: 13px/1.5em "Arial", helvetica, sans-serif;
}

/* Links */
a:link,a:visited {
	color: blue;
	text-decoration: none;
}
a:hover,a:active {
	color: red;
	text-decoration: underline;
}

/* Titles. */
h1,h2,h3,h4,h5,h6 {
	line-height: 1.3em;
}
h1 {
	font-size: 2.2em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0;
}
h2 {
	font-size: 1.8em;
	font-weight: 300;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.4em;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	margin-bottom: 0.8em;
}
h5 {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 0;
}

h6 {
	font-size: 1em;
	font-weight: bold;
}

/* Paragraph styles. */
p {
	margin: 0 0 1em 0;
}

/* List styles. */
ul,ol {
	margin-left: 0;
	padding-left: 2em;
}


/* Code. */
pre,code,tt {
	font: 1em "andale mono", "lucida console", monospace;
	line-height: 1.5;
}
pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaaaaa;
}

/* List styles. */
ul {
	list-style-type: disc;
}
ul ul {
	list-style-type: circle;
}
ul ul ul {
	list-style-type: square;
}
ul ul ul ul {
	list-style-type: circle;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: decimal;
}

/* Abbreviation. */
abbr {
	border-bottom: 1px dotted #666666;
	cursor: help;
	white-space: nowrap;
}
.block ul {
    margin: 0;
    padding: 0;
}
/* UI improvments. */
#edit-title {
	/* font-size: 24px; */
	width: 98%;
}
#system-themes-form img {
	width: 100px;
}
.form-item .description {
	font-style: italic;
	line-height: 1.2em;
	font-size: 0.8em;
	margin-top: 5px;
	color: #777777;
}
#edit-delete {
	/* color: #cc0000; */
}
div.messages {
	padding: 9px;
	margin: 1em 0;
	color: #003366;
	background: #bbddff;
	border: 1px solid #aaccee;
}
div.warning,
div.error,
div.status {
	width: 94%;
	position: fixed;
	top: 30px;
}
div.warning {
	color: #884400;
	background: #ffee66;
	border-color: #eedd55;
}
div.error {
	color: white;
	background: #ee6633;
	border: 8px solid #dd5522;
}
div.status {
	color: #000000;
	background: orange;
	border: 8px solid darkorange;
}
div.warning,
div.error,
div.status {
position: absolute;
left: 29px;
		margin: -3px 0 0;
	padding: 0;
	font-size: 12px;
	text-align: center;
	opacity: 0.9;
}
div.warning .item-list ul li,
div.error .item-list ul li,
div.status .item-list ul li {
	list-style: none;
	list-style-type: none;
}
header, footer {
	display: inline-block;
	width: 100%;
	position: relative;
}
header {
	height: 60px;
	margin: 15px 0 9px 0;
}
footer {

}

header,
#sidebar-first,
#content #rEdit .node-form fieldset,
body#options #content .view .view-filters {
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
	border: 1px solid #E0DFE3;
	background: #fefefe; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fefefe 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
}
#sidebar-first {
  width: 190px;
  margin-right: -190px;
}
.two-sidebars .center,
.sidebar-right .center {
  margin-right: 200px;
}
#sidebar-second {
  width: 200px;
}
#sidebar-second {
	background: #ffd075;
}
#navigation {
	background: #feffa5;
}

/* CUSTOM GLOBALS */
#edit-preview {
	display: none;
}
.block-views.block-header {
	float: right;
}
#header-region nav {
	margin: 10px 0 0;
	float: left;
	width: 200px;
}
input:focus { 
	outline: none;
}

/* Data Bar above table of titles */
.view-content header {
 	background: none repeat scroll 0 0 #EEEEEE;
  height: 20px;
  margin: 17px 0 10px;
  min-width: 100%;
  position: relative;
  top: -15px;    
	-webkit-border-radius: .4em .4em 0 0;
	-moz-border-radius: .4em .4em 0 0;
	border-radius: .4em .4em 0 0;
}
.view-content header .add {
	color: #3381B7;
  float: left;
  font-size: 27px;
  font-weight: bold;
  margin-left: 25px;
  padding: 0 14px;
	text-decoration: none;
}
.view-content header .add:hover {
	color: #ffffff;
	background: #242424; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbac12 15%, #f77402 57%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#fbac12), color-stop(57%,#f77402)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbac12 15%,#f77402 57%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbac12 1%,#f77402 41%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbac12 1%,#f77402 41%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbac12 1%,#f77402 41%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbac12', endColorstr='#f77402',GradientType=0 ); /* IE6-9 */
		
}
/******/
/******  Tabular Data  ******/
/******/
table {width: 100%;}
thead th {

}
tr.even,
tr.even input,
tr.even textarea {
	background: none repeat scroll 0 0 #EEEEEE
}
tr.even,
tr.odd	{
	border: none;
}
tr.even td,
tr.odd td {
	border-right:1px solid #E3E3E3;	
	padding: 0;
}
tr.odd {
	background-color: white;
}
/* Monthly view */
.page-month #content .view-content section {
	float: left;
  margin-top: -30px;
	overflow-x:auto;
	width: 100%;
}

#content .view-content table thead tr th {
	font-size: 10px;
  height: 31px;
  line-height: 10px;
 	border: none;
 	border-right: 1px solid #E0DFE3;
  border-top: none;
	text-align: center;  
  /* Gradient */
	background: #EEEEEE; /* Old browsers */
	padding-left: 11px;
}
#content .view-data-management {

}    
#content .editablefields form {
}
#content .editablefields input,
#content .editablefields textarea {
  border: medium none;
  font-size: 11px;
  height: 25px;
  margin: 0;
  width: 75px;
  padding: 0 0 0 5px;
}
#content .editablefields textarea,
#content .editablefields input {
	cursor: text;
	background: transparent;
}
#content .editablefields form select {
	cursor: pointer;
}
#content .editablefields textarea {
	margin-right: 0;
  overflow: hidden;
  position: relative;
  resize: none;
}
#content .editablefields .container-inline-date .description,
#content .editablefields .container-inline-date label,
#content .editablefields .resizable-textarea .grippie	{
	display: none;
}
#content .view-content .views-table tbody tr.even,
#content .view-content .views-table tbody tr.odd {
	overflow: hidden;
	padding: 0.1em 0.6em;
}
#content .view-content .views-table tbody tr.even td.views-field-title,
#content .view-content .views-table tbody tr.odd td.views-field-title {
	overflow: hidden;
}

#content .view-content .views-table tbody tr.even td a,
#content .view-content .views-table tbody tr.odd td a
	{
	overflow: hidden;
	white-space: pre;
}
.views-field-nid a {
	text-indent: -9999px;
	display: block;
	width: 25px;
	height: 25px;
	background: url(../images/edit_ico.png) no-repeat;
}

#content .container-inline-date {
	margin: 0;
}
#content .editablefields form select {

  margin-left: 10px;
  min-width: 86%;
  margin-right: 11px;
}
#content section content#rEdit {
	margin-top: 20px;
  padding: 15px 12px 20px;
	background: #ffffff;
	float: left;
	margin: 18px 5px 9px 5px;
	-webkit-box-shadow: 0px 0px 3px 2px #bbbbbb;
	box-shadow: 0px 0px 3px 2px #bbbbbb;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

/* All Option select form fields */
select.form-select:parent {
	background: red;
}


/* Node Forms loaded AJAX */
.form-radios .form-item {
	min-width: 50px;
}
#content #rEdit .node-form label {

}
#content #rEdit .node-form .standard,
#content #rEdit .node-form .standard .form-item {
	float: left;
	padding-bottom: 17px;
}
#content #rEdit .node-form .standard .form-item {
	margin: 0;
  padding: 0 0 4px;
 	min-width: 210px;
}
#content #rEdit .node-form .standard .form-item .form-radios {
	min-width: 47px;
}
.views-exposed-form input[type='text']:focus,
#content #rEdit .node-form input[type='text']:focus,
#content #rEdit .node-form .form-textarea:focus,
#content #rEdit .container-inline-date .form-item input:focus {
	border: 1px solid #8abcd9;
	background-color: #e7f1f7;
}
.views-exposed-form input[type='text'],
#content #rEdit .node-form input[type='text'],
#content #rEdit .node-form .form-textarea,
#content #rEdit .container-inline-date .form-item input {
   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;
   border: 1px solid #E0DFE3;
}
.views-exposed-form input[type='text'],
#content #rEdit .node-form input[type='text'],
#content #rEdit .container-inline-date .form-item input {
   padding: 4px;
    width: 180px;
}
.views-exposed-form input[type='text']:focus,
#content #rEdit .node-form input:focus { 
	-webkit-box-shadow: 0 0 5px rgba(33, 187, 225, 1);
	-moz-box-shadow: 0 0 5px rgba(33, 187, 225, 1);
	box-shadow: 0 0 5px rgba(33, 187, 225, 1);
}
#content #rEdit .node-form fieldset.collapsible,
#content #rEdit .container-inline-date .description,
#content #rEdit .node-form fieldset legend {
	display: none;
}
#content #rEdit .node-form fieldset {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
#content #rEdit .node-form fieldset {
	display: block;
	max-width: 25%;
  padding: 15px 0 40px 15px;
}
#content #rEdit .node-form fieldset.group-gen-fields {
  display: block;
  float: left;
  margin: 0 19px 0 0;
  max-width: 70%;
  padding: 10px;
}
#content #rEdit .node-form fieldset label {
	font-size: 11px;
	margin-left: 8px;
}
.date-clear-block,
.container-inline-date {
	clear: none !important;
}
#content #rEdit .node-form fieldset.group-dropdowns {
 	float: left;
 	margin-top: 15px;
 	max-width: 70%;
}
#content #rEdit .node-form fieldgroup.group-dropdowns .form-item {
	float: none;
}

@media all and (max-width: 1025px) and (min-width: 600px) {
	.section-month header {
		height: 140px;
	}
	.section-month header .form-submit {
		padding: 12px 18px;
	}
	.section-month header .views-widget-filter-title {
		position: absolute;
    right: 40px;
    top: -76px;
	}
	.block-views.block-header {
		margin-top: 80px;
	}
  #content #rEdit .node-form .form-textarea {
		width: inherit;
  	}
  #content #rEdit .node-form fieldset.group-month-group {width:100%;}
  #content #rEdit .node-form fieldset {
	  float: left;
		margin-top: 20px;	
		max-width: 97%;
  }
  #content #rEdit .node-form fieldset.group-gen-fields {
	  max-width: 100%;
  	margin: 0;
  }
  #content #rEdit .node-form fieldset.group-dropdowns {
  	max-width: 97%;
  }
}


/* Left Menu */
#block-menu_block-1 h3 {
	font-size: 18px;
	margin: 0 0 0 15px;
	padding: 0;
}
#block-menu_block-1 h3:hover {
	color: brown;
	cursor: pointer;
}
ul.menu li {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
}

/* Exposed Views Filters */
header .views-submit-button {
	left: -9px;
  padding: 0 0 10px !important;
  position: relative;
  top: -10px;
}

ul.menu a {
	text-decoration: none;
}

/**** Applications Menu ****/
header ul.menu {
	position: absolute;
}
header ul.menu li {
	float: left;
  list-style: none outside none;
  margin: 0;
  border-right:1px solid #E0DFE3;
}
header ul.menu li:hover,
header ul.menu li.active {
  background: #242424; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbac12 15%, #f77402 57%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#fbac12), color-stop(57%,#f77402)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbac12 15%,#f77402 57%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbac12 1%,#f77402 41%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbac12 1%,#f77402 41%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbac12 1%,#f77402 41%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbac12', endColorstr='#f77402',GradientType=0 ); /* IE6-9 */

}
header ul.menu li:hover {
/* 	background: #c6c6c6; Old browsers
	background: -moz-linear-gradient(top,  #c6c6c6 1%, #e5e5e5 41%); FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c6c6c6), color-stop(41%,#e5e5e5)); Chrome,Safari4+
	background: -webkit-linear-gradient(top,  #c6c6c6 1%,#e5e5e5 41%); Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  #c6c6c6 1%,#e5e5e5 41%); Opera 11.10+
	background: -ms-linear-gradient(top,  #c6c6c6 1%,#e5e5e5 41%); IE10+
	background: linear-gradient(to bottom,  #c6c6c6 1%,#e5e5e5 41%); W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#e5e5e5',GradientType=0 ); IE6-9
 */}
header ul.menu li a {
	text-decoration: none;
  color: #000000;
  font-size: 11px;	
	font-weight: bold;
	padding: 20px 10px 19px 19px;
	float:left;
}
header ul.menu li:hover > a,
header ul.menu li.active a.active {
	cursor: pointer;
	color: #ffffff;
}
header ul.menu li.first {
	-webkit-border-radius: .4em 0 0 .4em;
	-moz-border-radius: .4em 0 0 .4em;
	border-radius: .4em 0 0 .4em;
}

/* Child Menu Dropdowns */
#sidebar-first { position: relative; }

.menu-name-secondary-links ul.menu {
 	top: 107px;	
 	left: 22px;
  position: fixed;	
  background: #ffffff;
  border-radius: 5px 5px 0 0;		
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-top: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	z-index:999;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  
  -webkit-transform: rotate(90deg); 
  -moz-transform:    rotate(90deg); 
  -ms-transform:     rotate(90deg); 
  -o-transform:      rotate(90deg); 
  
  background: #3e8ac0;
}
.menu-name-secondary-links ul.menu li ul {
	-webkit-transform: rotate(-90deg); 
  -moz-transform:    rotate(-90deg); 
  -ms-transform:     rotate(-90deg); 
  -o-transform:      rotate(-90deg); 
	height: 253px;
	width: 155px;
	background: #ffffff;
	display: none;
	margin:6px 0 20px -25px;
	padding-top: 10px;
	position: absolute;
 	top: -4px;	
 	left: 25px;
/*   border: 1px solid #dbdbdb;
 */
 	border-radius:0 5px 5px 5px;	
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	
	-webkit-box-shadow: 1px 1px 4px 1px #bbbbbb;
	box-shadow: 1px 1px 4px 1px #bbbbbb;
	
	
}
.menu-name-secondary-links ul.menu li:hover > ul {
	display: block;
}
.menu-name-secondary-links ul.menu li ul li,
.menu-name-secondary-links ul.menu li ul li.first {
	float: none;
	border: none;
	background: transparent;
}
.menu-name-secondary-links ul.menu li a {
	color: #ffffff;
	letter-spacing: 0.1em;
}
.menu-name-secondary-links ul.menu li ul li {
	padding: 0 0 0 2px;	
	margin-bottom: -1px;
}
.menu-name-secondary-links ul.menu li ul li a{
	color: #3E8AC0;
	font-size: 15px;
	letter-spacing: 0;
}

.menu-name-secondary-links ul.menu li {
	padding:3px 10px 0 6px;
	width: 104px;
}


/* Options Page */
body#options #content section content#rEdit .node-form .form-submit {
	margin: 18px 0 0 0;
	padding: 5px 15px 5px 15px;
}	
body#options #content section content#rEdit {
	width: 94%;
	margin: 3px 13px 4px 23px;
}
body#options .view {
	width: 98%;
	padding-left: 23px;
	float: left;
}
body#options #content section content#rEdit form.node-form {
	float: left;
} 
body#options .view .editablefields input {
	width: 100%;
}
body#options #rEdit {
	height: 155px;
}

#views-bulk-operations-form-administrator-page-page-1 table input {
	width: auto;	
}
#block-menu_block-1 ul.menu {
	position: relative;
}
#block-menu_block-1 ul.menu ul.down {
/* 	display: none; */
	background: #ffffff;
	border: 1px solid lightblue;
	/* position: absolute; */
}

/**** Application Buttons ****/
.button.grey,
.form-submit{
	color: #ffffff;
	border: none;
	background: #EFEFEF;
	background: -webkit-gradient(linear, left top, left bottom, from(#85afd8), to(#5a8cc8));
	background: -moz-linear-gradient(top,  #85afd8,  #5a8cc8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#85afd8', endColorstr='#5a8cc8');
}
.button.grey:hover,
.form-submit:hover {
	border: none;
	background: #990718;
	background: -webkit-gradient(linear, left top, left bottom, from(#5a8cc8), to(#85afd8));
	background: -moz-linear-gradient(top,  #5a8cc8,  #85afd8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a8cc8', endColorstr='#f2102a');
}
.button.red {
	color: #FFFFFF;
	border: solid 1px #570f0f;
	background: #f2102a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2102a), to(#990718));
	background: -moz-linear-gradient(top,  #f2102a,  #990718);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2102a', endColorstr='#990718');
}
.button.red:hover {
		background: #990718;
	background: -webkit-gradient(linear, left top, left bottom, from(#990718), to(#f2102a));
	background: -moz-linear-gradient(top,  #990718,  #f2102a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#990718', endColorstr='#f2102a');
}
.button.blue {
	color: #FFFFFF;
	border: solid 1px #570f0f;
	
	background: #f2102a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2102a), to(#990718));
	background: -moz-linear-gradient(top,  #f2102a,  #990718);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2102a', endColorstr='#990718');
}
.button.blue:hover {
		background: #990718;
	background: -webkit-gradient(linear, left top, left bottom, from(#990718), to(#f2102a));
	background: -moz-linear-gradient(top,  #990718,  #f2102a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#990718', endColorstr='#f2102a');
}
.form-submit {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 11px/100% Arial, Helvetica, sans-serif;
	padding: .2em 1em .1em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .9em;
	-moz-border-radius: .9em;
	border-radius: .9em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.form-submit {
	letter-spacing: 1px;
	font-size: 15px;
	padding: 10px 35px;
	-webkit-border-radius:.3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	font-size: 13px;
}
.button.node-add {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 24px;
}
.button:hover {
	text-decoration: none;
}
.views-field-delete-node a:active {
	position: relative;
	top: 1px;
}